<div class="container" style="margin-top: 20px;">    
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de pacientes</div>
        <div class="panel-body">
            <!--modal-->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header primary">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Registro de pacientes</h4>
                        </div>
                        <div class="modal-body">
                            <form id="formulario" method="POST" action="/administracion/pacientes/guardar">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Paciente</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Historial</a></li>                                        
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <div class="form-group">
                                                <label for="cedula" class="control-label">Cedula:</label>
                                                <input type="text" class="form-control" id="cedula" name="cedula">
                                            </div>
                                            <div class="form-group">
                                                <label for="apellidos" class="control-label">Apellidos:</label>
                                                <input type="text" class="form-control" id="apellidos" name="apellidos">
                                            </div>
                                            <div class="form-group">
                                                <label for="nombres" class="control-label">Nombres:</label>
                                                <input type="text" class="form-control" id="nombres" name="nombres">
                                            </div>
                                            <div class="form-group">
                                                <label for="fecha_nac" class="control-label">Fecha de nacimiento:</label>
                                                <input type="date" class="form-control" id="fecha_nac" name="fecha_nac">
                                            </div>
                                            <div class="form-group">
                                                <label for="edad" class="control-label">Edad:</label>
                                                <input type="text" class="form-control" id="edad" name="edad">
                                            </div>
                                            <div class="form-group">
                                                <label for="direccion" class="control-label">Direccion:</label>
                                                <textarea id="direccion" class="form-control" name="direccion"></textarea>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="profile">
                                            <div class="form-group">
                                                <label for="nro_his" class="control-label">Nro historial:</label>
                                                <input type="text" class="form-control" id="nro_his" name="nro_his" value="<%= nro %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="enf" class="control-label">Enfermedades:</label>
                                                <input type="text" class="form-control" id="enf" name="enf">
                                            </div>
                                            <div class="form-group">
                                                <label for="enf_her" class="control-label">Enfermedades hederitarias:</label>
                                                <input type="text" class="form-control" id="enf_her" name="enf_her">
                                            </div>
                                            <div class="form-group">
                                                <label for="hab" class="control-label">Habitos:</label>
                                                <input type="text" class="form-control" id="hab" name="hab">
                                            </div>
                                            <div class="form-group">
                                                <label for="contacto" class="control-label">En caso de emergencia llamar:</label>
                                                <input type="text" class="form-control" id="contacto" name="contacto">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">                                    
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- fin modal -->

            <div>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal">Nuevo</a>
                <select id="criterio">
                    <option value="todos">Todos</option>
                    <option value="cedula">Cedula</option>
                    <option value="historia">Nro de historia</option>
                    <option value="apellidos">Apellidos</option>
                </select>
                <input type="text" id="texto" placeholder="Ingrese su dato a buscar">
                <input type="button" id="boton" value="Buscar">
            </div>

            <% if(typeof msg != 'undefined') { %>
            <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>
            <div class="form-group">
                <div class="label label-danger" style="font-size: 8px">
                    <%= msg.error %>
                </div>                        
            </div>                  
            <% } %>
            <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
            <div class="form-group">
                <div class="label label-success" style="font-size: 8px">
                    <%= msg.info %>
                </div>                        
            </div>                  
            <% } %>
            <% } %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nro</th><th>Cedula</th><th>Paciente</th><th>Nro Historia</th><th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% lista.forEach(function (item, index) { %>
                    <tr>
                        <td>
                            <%= (index + 1) %>
                        </td>
                        <td>
                            <%= item.cedula %>
                        </td>
                        <td>
                            <%= item.apellidos %> <%= item.nombres %>
                        </td>
                        <td>
                            <%= item.historia.nro_historia %>
                        </td>
                        <td>
                            <a href="/administracion/pacientes/modificar/<%= item.external_id %>" class="btn btn-primary">Modificar</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

