<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-body">
                <picture>
                    <source type="image/svg+xml"/>
                    <% if(persona.foto === "user.png") { %>
                    <img src="/<%= persona.foto %>" class="img-fluid img-thumbnail"/>
                    <% } else { %>
                    <img src="/<%= persona.foto %>" class="img-fluid img-thumbnail"/>
                    <% } %>
                </picture>
            </div>
        </div>
    </div>
</div>
