<div class="container" style="margin-top: 20px;">    
    <div class="panel panel-primary">
        <div class="panel-heading">Modificar Consultas</div>
        <div class="panel-body">
            <form id="formulario" method="POST" action="/administracion/consultas/modificar/guardar">
                <input type="hidden" name="external" value="<%= consulta.external_id %>"/>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Paciente</a></li>                      
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="modal-footer">
                                <small class="label label-danger">DATOS CONSULTA:</small>
                            </div>
                            <div class="form-group">
                                <label for="fecha" class="control-label">Fecha de la Consulta:</label>
                                <input type="date" class="form-control" id="fecha" name="fecha" value="<%= consulta.fecha %>" readonly>
                            </div>
                            <div class="form-group">
                                <label for="motivo" class="control-label">Motivo:</label>
                                <input type="text" class="form-control" id="motivo" name="motivo" value="<%= consulta.motivo %>">
                            </div>
                            <div class="form-group">
                                <label for="diagnostico" class="control-label">Diagnostico:</label>
                                <textarea id="diagnostico" class="form-control" name="diagnostico"><%= consulta.diagnostico %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="receta" class="control-label">Receta:</label>
                                <textarea id="receta" class="form-control" name="receta"><%= consulta.receta %></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                                    
                    <a href="/administracion/consultas" class="btn btn-default" >Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
